.alert {
    border: 2px solid #d9534f;
    background-color: #f2dede;
    color: #a94442;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .alert h2 {
    margin-top: 0;
  }
  .ewsdiv {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 10px;
    background: #fff;
    border: 8px solid;
    border-radius: 8px 8px 0 0;
    border-image: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D) 1;
    position: relative;
  }
  
  
  .ewsdiv::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    background-color: white; 
    border-radius: 8px;
    z-index: -1;
  }
  